In [26]:
#exo1
def function1():
    x=int(input("enter three number only "))
    y=int(input())
    l=int(input())
    sum1=x-y
    sum2=x-l
    if sum1>0 and sum2>0:
        return(x)
    sum3=y-l
    if sum3>0 and sum1<0:
        return(y)
    else:
        return(l)
function1()

enter three number only 12
10
40

40

In [2]:
def function2():
    x=int(input())
    y=int(input())
    sum1=x+y
    sub2=x-y  
    return(sum1,sub2)
function2()

20
10

(30, 10)

In [33]:
list1=(1,3,5,4)
x=0
for i in list1:
    x=x+i
    print(x)

1
4
9
13

In [31]:

def max_number(x,y):
    if x>y:

        return x
    return y
def max_of_three( x, y, z ):
    return max_number( x, max_number( y, z ) )
print(max_of_three(20,35,19))

35

In [30]:
max_number(12,24)

24

In [34]:
#3rd exo in checkpoints
#index
#for in in range(len(list))
#x.append(liste[i])  to add the number not its index
#for i in list :
# if(list.index(i)%2==0) 
#x.append(i)

In [39]:
from math import sqrt
def bonus(d):
    q=sqrt((100*d)/30)
    print(q)

In [41]:
bonus(100)

18.257418583505537

In [77]:
from math import sqrt
def bonus1():
    Q=[]
    d=input("enter your comma-separated sequence ")
    D=d.split(",")
    for i in D:
        q=round(sqrt((100*int(i))/30))
        Q.append(q)
    return Q

In [76]:
bonus1()

enter your comma-separated sequence100

[18]